<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAL-X</title>   
    <link rel="shortcut icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">

</head>
<body>
  
        <header class="navcolor">
            <div class="nav-bar">
                <div class="nav-logo">
                   <div class="nav-img">
                       <img src="{% static 'images/logo2.jpg' %}" alt="logo image">
                   </div>
                   <div class="nav-text">
                     <a href="{% url 'homePage' %}"><h2><span class="nav-logo-text">R</span><span class="nav-logo-text1">I</span><span class="nav-logo-text2">O</span></h2></a>
               </div>
                </div>
                <div class="nav-menus">
                      <p><a href="https://github.com/dialemon" class="nav-menu-text">DIAL-X</a></p>
                      <p><a href="https://www.theglobalnet.news" class="nav-menu-text">Newspaper</a></p>
                            <div class="nav-menu-follow" >
                               <p><a href="http://www.instagram.com/dialchowdhury" class="nav-menu-text2">Follow Me</a></p>
                               <i class="fa-brands fa-youtube " style="color: #ed0202;"></i>
                            </div>     
                </div>
           </div>
        </header>
        
        <div class="banner1 m-2">
            <div class="container">
                <div id="default-carousel" class="relative w-full" data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                     <!-- Item 1 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="../static/images/carousel-1.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 2 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="../static/images/carousel-2.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 3 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="../static/images/carousel-3.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 4 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="../static/images/carousel-4.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                    <!-- Item 5 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="../static/images/carousel-5.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                </div>
                <!-- Slider indicators -->
                <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
                </div>
                <!-- Slider controls -->
                <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
            
            </div>
        </div>
        
        <section class="play-online-game">
            <h2 class="online-game-title">DISNEY  <span class="online-game-title-mod">WORLD</span></h2>
            <p class="online-game-description">Register To Access The Bird's Gallery For Exiting Pictures</p>
        </section>    
             <!-- banner section-->
     <section class="banner">
        <div class="banner-content">
            <div class="banner-text">
                <h2 class="banner-text-h2">OFFICIAL TRAILER <br>OF</h2>
                <h1 class="banner-text-h1">R.I.O 2 </h1>
                

            </div>
            <div class="banner-button">
                <button class="button-2"><a style="text-decoration: none; color: #ffffff;" href="{% url 'signupPage' %}" >Access Bird's Gallery</a></button>
            </div>
        </div>
        <div class="banner-video">
            <video id="myVideo" autoplay muted loop>
                <source src="{% static 'videos/rio2trailer.mp4' %}" type="video/mp4">
                
            </video>
            <div class="btn-position">
                <button class="control-button volume-button" onclick="toggleMute()">Mute/Unmute</button>

            <!-- Pause button -->
            <button class="control-button pause-button" onclick="togglePause()">PlayPause</button>

            <button class="control-button restart-button" onclick="restartVideo()">Replay</button>
            </div>
        </div>
    </section>
<footer class="bg-white rounded-lg m-4 shadow dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl  p-8 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://instagram.com/dialchowdhury/" class="hover:underline">DIAL-X™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contact</a>
        </li>
    </ul>
    </div>
</footer>






<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
<script>
        // Get the video element
        var video = document.getElementById("myVideo");

        // Function to toggle mute/unmute
        function toggleMute() {
            video.muted = !video.muted;
        }

        // Function to toggle play/pause
        function togglePause() {
            if (video.paused) {
                video.play();
            } else {
                video.pause();
            }
        }

        function restartVideo() {
            video.currentTime = 0;
            video.play();
        }
</script>
</body>
</html>